.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li button {
  padding: 10px;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login {
  background-color: #1e90ff; /* Light Sky Blue */
  color: #ffffff; /* White */
  border: 1px solid #1c86ee; /* Darker blue for border */
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.btn-login:hover {
  background-color: #1874cd; /* Dodger Blue */
  color: #ffffff;
}

