.app-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.content-container {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
